.libjass-wrapper.srt * {
    font-family: 'Aller', san-serif !important;
    color: white !important;
    font-weight: bold !important;
}

.libjass-wrapper {
    height: 100%;
}

video {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}